.photolist {
	@extend %cf;
	li {
		height: 200px;
		overflow: hidden;
		float: left;
		margin-left: 0;
		width: 200px;
		line-height: 400px;
	}
}

// スプライト自動生成用記述
// $icon-: sprite-map("sprite/icon-/*.png", $layout: smart);
